#root {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 2px solid;
    border-color: #DDDDDD;
    border-radius: 20px;
    cursor: pointer;
}

#root:hover {
    border-color: #BBBBBB;
}

#workspace {
    margin: 10px;
}