body {
    height: 98vh;
}

.maincontainer{
    height: 100vh;
}

#app-grid {
    min-height: 100%;
}

#banner {
    max-width: 500px;
    margin: 10px auto;
    user-select: none;
}

.separator {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 5px;
    background-color: #ffffff;
}

.separator2x {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 10px;
    background-color: #ffffff;
}