<!-- <h1 class="panel-heading">enfrappe</h1>
<h2 class="panel-subheading">Application Builder</h2> -->
<div id="panel-main-container">
    <div id="enfrappe-banner">
        <img id="banner" class="ui image centered" src="/static/images/banner.svg">
    </div>
    <h2 class="panel-subsection">Application Details</h2>
    <div id="application-details">
        <div>
            <div class="ui labeled input fluid">
                <div class="ui label">App ID</div>
                <input type="text" placeholder="13-Digit App Identifier">
            </div>
            <div class="separator"></div>
            <div class="ui labeled input fluid">
                <div class="ui label">App Name</div>
                <input type="text" placeholder="Name">
            </div>

            <!-- <div class="separator2x"></div>
            <div class="ui toggle checkbox">
                <input type="checkbox">
                <label>Fixed Location</label>
            </div> -->
    
            <!-- <div class="separator2x"></div>
            <div class="ui toggle checkbox">
                <input type="checkbox">
                <label>Backend on Local Network</label>
            </div> -->
            <div class="separator"></div>
            <div class="ui labeled input fluid">
                <div class="ui label">Network SSID</div>
                <input type="text" placeholder="SSID">
            </div>

            <!-- <div class="separator2x"></div>
            <div class="ui toggle checkbox">
                <input type="checkbox">
                <label>Application Expires</label>
            </div> -->
            <div class="separator"></div>
            <div class="ui labeled input fluid">
                <div class="ui label">Expiry Date</div>
                <input type="text" placeholder="MM/DD/YYYY">
            </div>
        </div>
    </div>
    <h2 class="panel-subsection">Application Deployment</h2>
    <div id="application-deployment">
        <div>
            <!-- <div class="ui image fluid" id="qrcode"></div> -->
            <button class="ui fluid button">
                <i class="gamepad icon"></i>
                Test Application
            </button>
            <div class="separator"></div>
            <button class="ui fluid button">
                <i class="eye icon"></i>
                View QR Codes
            </button>
            <div class="separator"></div>
            <button class="ui fluid button">
                <i class="print icon"></i>
                Print QR Codes
            </button>
            <div class="separator"></div>
            <button class="ui fluid button">
                <i class="download icon"></i>
                Download Package
            </button>
        </div>
    </div>    
</div>

        


    