.enfrappe-ui-checkbox {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 5px;
    border: 2px solid #DDDDDD00;
}

.enfrappe-ui-checkboxmain {
    pointer-events: none;
}

.enfrappe-ui-checkboxmain > label {
    color: inherit !important;
}

.enfrappe-ui-checkbox:hover {
    border-color: #BBBBBB;
}

.enfrappe-ui-checkboxlive {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 5px;
    border: 2px solid #DDDDDD00;
}

.enfrappe-ui-checkboxlive > label {
    color: inherit !important;
}