.enfrappe-ui-dataviewer, .enfrappe-ui-dataviewerlive {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 5px;
    border: 2px solid #DDDDDD00;
}

.enfrappe-ui-dataviewer:hover {
    border-color: #BBBBBB;
}