.enfrappe-ui-section {
    background: #EEEEEE;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #DDDDDD00;
}

.enfrappe-ui-section:hover:not(.enfrappe-ui-sectionlive) {
    border-color: #BBBBBB;
}

.enfrappe-ui-section > div {
    margin-top: 10px;
    margin-bottom: 10px;
}