.enfrappe-ui-dropdown {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 5px;
    border: 2px solid #DDDDDD00;
    opacity: 1;
}

.enfrappe-ui-dropdownmain {
    background: rgba(255, 255, 255, 0.7) !important;
    color: inherit !important;   
    pointer-events: none;
}

.enfrappe-ui-dropdown:hover {
    border-color: #BBBBBB;
}