.enfrappe-ui-input {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 5px;
    border: 2px solid #DDDDDD00;
    opacity: 1;
}

.enfrappe-ui-inputmain {
    background: rgba(255, 255, 255, 0.5) !important;
    color: inherit !important;
}

.enfrappe-ui-inputmaindiv {
    background: transparent;
}

.enfrappe-ui-input:hover {
    border-color: #BBBBBB;
}

.enfrappe-ui-inputstatic input {
    cursor: default;
}

.enfrappe-ui-input:not(.enfrappe-ui-inputstatic) input {
    cursor: pointer !important;
}