.enfrappe-ui-radio {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 5px;
    border: 2px solid #DDDDDD00;
    opacity: 1;
}

.enfrappe-ui-radiosegment {
    background: rgba(255, 255, 255, 0.7) !important;
}

.enfrappe-ui-radiomain {
    pointer-events: none;
}

.enfrappe-ui-radiooption label {
    color: inherit !important;
}

.enfrappe-ui-radio:hover {
    border-color: #BBBBBB;
}