.enfrappe-ui-section {
    background: #EEEEEE;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #DDDDDD;
    opacity: 1;
}

.enfrappe-ui-section:hover {
    border-color: #BBBBBB;
}

.enfrappe-ui-section > div {
    margin-top: 10px;
    margin-bottom: 10px;
}