.fullscreen-div {
    height: 100vh;
}

.scrollable-div {
    display: flex;
    position: relative;
    flex-direction: column; 
    height: 100%;
}

.scrollable-section {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

#panel-prototype, #panel-simulation {
    position: relative;
    clip-path: inset(0px);
    background-image: url('./assets/grid_bg.png');
    background-repeat: repeat;
    background-position: center;
}

#panel-properties {
    border-right: 1px solid #D4D4D4;
}

.panel-heading {
    margin-bottom: 0;
    color: #000000;
}

.panel-subheading {
    color: #000000;
    opacity: 0.5;
    margin-top: 0;
}

.button-based-input-only > input {
    pointer-events: none;
}

.centered-button-text > button {
    text-align: center;
    justify-content: center;
}

.selected-component {
    border-color: #323232 !important; 
}

.selected-component-option {
    background: #F2F2F2 !important;
}

.component-option {
    border-radius: 5px;
    padding: 5px !important;
}

.component-option:hover {
    border-radius: 5px;
    padding: 5px !important;
    background: #F8F8F8;
}

.tucked-label {
    background: rgba(255, 255, 255, 0.5) !important;
    margin-bottom: -2px !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.tucked-label-compat {
    margin-top: 0px !important;
}

.color-picker-cover {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.color-picker-popover {
    position: absolute;
    right: 0;
    z-index: 3;
}

p, h1, h2, h3, h4, h5, h6, span, .label {
    user-select: none;
}