.fullscreen-div {
    height: 100vh;
}

.scrollable-div {
    display: flex;
    position: relative;
    flex-direction: column; 
    height: 100%;
}

.scrollable-section {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

#panel-prototype {
    position: relative;
    clip-path: inset(0px);
    background-image: url('./assets/grid_bg.png');
    background-repeat: repeat;
    background-position: center;
}

#panel-properties {
    border-right: 1px solid #D4D4D4;
}

.panel-heading {
    margin-bottom: 0;
    user-select: none;
}

.panel-subheading {
    color: #999999;
    margin-top: 0;
    user-select: none;
}

span {
    user-select: none;
}

.label {
    user-select: none;
}

.button-based-input-only > input {
    pointer-events: none;
}

.centered-button-text > button {
    text-align: center;
    justify-content: center;
}

.selected-component {
    border-color: #323232 !important; 
}

.tucked-label {
    margin-bottom: -4px !important;
}