#toolbar-no-component {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #AAAAAA;
    user-select: none;
    text-align: center;
}

#toolbar-no-component h1 {
    margin-bottom: 0;
}

.toolbar-component-container > div {
    border-radius: 10px;
    padding: 10px;
}

.toolbar-component-container > div:hover {
    background: #F2F2F2;
}